.Room {
    background-color: aqua;
    position: fixed;
    top: 80px;
    left: 0;
    width: 75%;
    height: 100%;
}
.User {
    background-color: darkblue;
    position: fixed;
    top: 80px;
    right: 0;
    width: 25%;
    height: 100%;
}

.Button {
    width: 50%;
    height: 5%;
}
.menu-bar {
    display: none;
    position: absolute;
    bottom: 10%;
    right: 20%;
}

.menu-bar.display {
    display: block;
}

.Room h1 {
    position:absolute;
    top : 20%;
    left: 100px;
    color: white;
}
.User h1 {
    position:absolute;
    top : 20%;
    right: 100px;
    color: white;
}