/* .button-area {
    position: absolute;
    right: 5%;
    bottom: 5%;
    background-color: black;
    height: 5%;
} */

.mode-button {
    background-color: #eaeaea;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15%;
    bottom: 10%;
}
.rank-button {
    background-color: #eaeaea;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.content {
    position: absolute;
    bottom: 13%;
    right: 5%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    width: 200px;
}

.content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content li {
    padding: 5px 0;
    cursor: pointer;
}

.content li:hover {
    background-color: #f2f2f2;
}

.match {
    position: absolute;
    bottom: 7%;
    right: 10%;
    width: 10%;
}